nav {
  padding: 20px !important;
}

section {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 600px) {

  .carousel-title {
    font-size: 10px;
  }
  .carousel-paragraph {
    font-size: 9px;
  }
}


form {
  width: 80%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

